 body{
overscroll-behavior:contain;
background-image:url('https://spat-cloud.github.io/data/DORAEMON1.png');
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
-youbkit-user-select:none;
user-select:none;
font-family:Princess Sofia;
}
